<div class="_html1-box" id="_html1-box">
    <img class="_html1-logo inline" id="_html1-logo" src="{{logo_url}}" alt="logo">
    <p class="_html1-title inline" id="we-text1"><span class="_html1-workflowy-title">Workflowy</span> Encrypter</p>
    <div class="_html1-blue" id="_blue">
        <div class="_html1-blue-content" id="_blue-content">
            <img class="_html1-logo inline" src="{{logo_w_url}}" alt="logo">
            <p class="_html1-title _html1-title-white inline" id="we-text2">_ciSw6eyI9hOthlspe</p>
        </div>
    </div>
</div>