._popup {
    background: rgb(42, 49, 53);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 20px;
    border: 1px solid rgb(92, 96, 98);
}

/* Common elements */
._input-box-container {
    background: rgb(42, 49, 53);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(92, 96, 98);
}
._input-box-container input, ._input-box-container select {
    color: rgb(255, 255, 255);;
}

._input-box {
    background: rgb(42, 49, 53);
    color: rgb(255, 255, 255);
}

._popup-close {
    color: rgb(124, 127, 129);
}

._popup-close:hover > ._popup-close-hover { 
    background: rgb(53, 60, 63);
}