/* For a native look, popup CSS is built over the CSS taken from the Workflowy's site */
body {
    background: #fafafa;
    width: 300px;
}

.top {
    margin: 0 auto;
    width: 100%;
    align-items: center;
    text-align: center;
}

.logo {
    width: 28px;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

.topMargin {
    margin-top: 16px;
}

.workflowyTitle {
    color: #333;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    
    line-height: 20px;
    -webkit-text-size-adjust: 100%;
}

.title {
    color: #333;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    line-height: 20px;
    cursor: default;
}

.text {
    color: #333;
    word-break: normal;
    padding: 0px 1px;
    margin: 0px -1px;
    cursor: default;

    white-space: pre-wrap;
    font-size: 13px;
    line-height: 20px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.textbox {
    margin: 0 auto;
    width: 95%;
}

.subtext {
    color: #666;
    word-break: normal;
    cursor: default;

    white-space: pre-wrap;
    font-size: 10px;
    line-height: 14px;
    text-align: center;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.subtext a {
    color: #666;
}

.tag {
    color: rgb(134, 140, 144);
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    cursor: text;
}